.feature
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Quae sequuntur igitur? Idem iste, inquam, de voluptate quid sentit? Quid censes in Latino fore? Nam quid possumus facere melius? Ut proverbia non nulla veriora sint quam vestra dogmata. Num igitur eum postea censes anxio animo aut sollicito fuisse? Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim. Conclusum est enim contra Cyrenaicos satis acute, nihil ad Epicurum. 
