%header
  .container
    %h1 Welcome to my latest experiment

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qua tu etiam inprudens utebare non numquam. Quae sequuntur igitur? Idem iste, inquam, de voluptate quid sentit? 

    %p.call-to-action
      %a(href="") Try Now
