!!!
%html
  %head
    %title CSS Challenge
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}

  %body
    = haml :header
    = haml :features
    = haml :products
    = haml :testimonials
