%section.products
  .container
    %h2 Our products are awesome!

    .columns-grid
      .two-columns
        .column
          .product-orange
            %img{src: '/images/product1-white.png'}
            %h3 Heading
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc tortor, at vulputate lorem lacinia sit amet. Nulla vitae sollicitudin libero.
            .details-button
              %a(href="") Details...

        .column
          .product-green
            %img{src: '/images/product2-white.png'}
            %h3 Heading
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc tortor, at vulputate lorem lacinia sit amet. Nulla vitae sollicitudin libero.
            %p.details-button
              %a(href="") Details...

      .three-columns
        .column
          .product-puky-green
            %img{src: '/images/product3-white.png'}
            %h3 Heading
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc tortor, at vulputate lorem lacinia sit amet. Nulla vitae sollicitudin libero.
            %p.details-button
              %a(href="") Details...

        .column
          .product-blue
            %img{src: '/images/product4-white.png'}
            %h3 Heading
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc tortor, at vulputate lorem lacinia sit amet. Nulla vitae sollicitudin libero.
            %p.details-button
              %a(href="") Details...

        .column
          .product-yellow
            %img{src: '/images/product5-white.png'}
            %h3 Heading
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc tortor, at vulputate lorem lacinia sit amet. Nulla vitae sollicitudin libero.
            %p.details-button
              %a(href="") Details...
