%section.testimonials
  .container
    %h2 This is what our customers say

    .testimonial
      %img{src: '/images/avatar1.jpg'}

      .introduction
        %h3 Quincy Davies
        %h4 Lorem Ipsum

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur scelerisque ullamcorper. Duis euismod dictum odio at rhoncus.

    .testimonial
      %img{src: '/images/avatar3.jpg'}

      .introduction
        %h3 Hilde Akdemir
        %h4 Lorem Ipsum

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur scelerisque ullamcorper. Duis euismod dictum odio at rhoncus.

    .testimonial
      %img{src: '/images/avatar2.jpg'}

      .introduction
        %h3 Neo Tromp
        %h4 Lorem Ipsum

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur scelerisque ullamcorper. Duis euismod dictum odio at rhoncus.
