header {
  background-color: $primary-color;
  color: $text-color;

  .container {
    padding-top: 5 * $line-height;
    padding-bottom: 3 * $line-height;
  }

  p.call-to-action {
    padding-top: 2 * $line-height;
    line-height: 2 * $line-height;
  }
}
